<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.management.wms.mapper.PermissionMapper">

    <select id="selectPermissionByUserId" resultType="com.warehouse.management.wms.entity.Permission">
        select
            distinct p.id, p.name, p.url, p.parent_id as parentId,
                     p.type, p.permit, p.remark
        from
            permission p
                left join
            role_permission rp
            on p.id = rp.permission_id
                left join
            tb_user_role ur
            on ur.role_id = rp.role_id
        where ur.user_id = #{userId}
    </select>
</mapper>
